<%= content_tag @as, class: classes, **@attrs do %>
  <% if @decorate %>
    <span class="absolute inset-y-0 left-0 flex items-center" aria-hidden="true">
      <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span>
    </span>
  <% end %>
  <%= content %>
<% end %>
